<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DeckRommSync is a tool for synchronizing decks.">
    <meta name="keywords" content="DeckRommSync, synchronization, decks">
    <title>{% block title %}DeckRommSync{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">       
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deckromsync.css') }}">
</head>
<body>        
    <!-- Navigation Bar -->
    
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>DeckRommSync</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Status</a>                
                <a class="navbar-item" href="/config">Config</a>
                <a class="navbar-item" href="/log">Logging</a>
            </div>            
        </div>
    </nav>    

    <!-- Main Content -->
    <section class="section">
        <!-- <div class="container"> -->
            {% block content %}
            {% endblock content %}
        <!-- </div> -->
    </section>    
</body>
</html>
